<div class="row">
  <div class="col-6" id="cardPrincipal">
    <div class="card">
      <div class="row">
        <div class="col-12">
            <h3>CATEGORIA: {{categoria}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h3>GENERO: {{genero}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h3>GRADO: {{rango}}</h3>
        </div>
      </div>
      <div class="row" *ngIf="rango == 'Grados kyu'">
        <div class="col-12">
            <h3>DIVISION: {{division}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<h3>Ronda 1</h3>
<div class="row">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <div class="row">
                  <div class="boton">
                    <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModal()">AGREGAR ATLETA</button>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AKA 1</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of teamRojo; let i = index">
                  <div class="col-md-1">
                      <p>{{i + 1}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.estado}}</p>
                  </div>
                  <div class="col">
                      <select name="kata" [(ngModel)]="selectKata" id="kata"  class="form-control" (change)="equipoaka(item)">
                          <option value="" selected>Selecciona kata</option>
                          <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                      </select>
                  </div>
                </div>
            </div>
        </div>

        <div class="card" id="aka" style="margin-top: 15px;">
            <div class="card-body">
                <div class="row">
                  <div class="boton">
                    <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModal2()">AGREGAR ATLETA</button>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AKA 2</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of teamAzul; let i = index" >
                  <div class="col-md-1">
                      <p>{{i + 1}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.estado}}</p>
                  </div>
                  <div class="col">
                      <select name="kata" [(ngModel)]="selectKata" id="kata"  class="form-control" (change)="equipoao(item)">
                          <option value="" selected>Selecciona kata</option>
                          <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                      </select>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AO 1</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <!-- <div class="row pointer" *ngFor="let item of teamAzul1; let i = index" >
                    <div class="col-md-2">
                        <p>{{i + 1}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].nombre}} {{item.valores[0].apellidoPaterno}} {{item.valores[0].apellidoMaterno}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" (change)="equipoao(item._id,ronda1)" *ngIf="item.kataUno == ''">
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div>
                </div> -->
            </div>
        </div>


        <div class="card" id="ao" style="margin-top: 15px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AO 2</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <!-- <div class="row pointer" *ngFor="let item of teamAzul2; let i = index" >
                    <div class="col-md-2">
                        <p>{{i + 1}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].nombre}} {{item.valores[0].apellidoPaterno}} {{item.valores[0].apellidoMaterno}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" (change)="equipoao(item._id,ronda1)" *ngIf="item.kataUno == ''">
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<h3>Ronda 2</h3>
<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <h3>EQUIPO AKA</h3>
                <div class="row">
                    <div class="col-md">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <!-- <div class="row pointer" *ngFor="let item of resultadosRonda1Rojos">
                    <div class="col-md">
                        <p style="color:white;">{{item.idAtleta.valores[0].nombre}} {{item.idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.puntajeTotal}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" (change)="equipoaka(item.idAtleta._id,ronda2)" *ngIf="item.idAtleta.kataDos == ''">
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <h3>EQUIPO AO</h3>
                <div class="row">
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <!-- <div class="row pointerAzul" *ngFor="let item of resultadosRonda1Azules">
                    <div class="col">
                        <p style="color:white;">{{item.idAtleta.valores[0].nombre}} {{item.idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.puntajeTotal}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" (change)="equipoao(item.idAtleta._id,ronda2)" *ngIf="item.idAtleta.kataDos == ''">
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<h3>Ronda 3</h3>
<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <h3>EQUIPO AKA</h3>
                <div class="row">
                    <div class="col-md">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of resultadosRonda2Rojos">
                    <div class="col-md">
                        <p style="color:white;">{{item.idAtleta.valores[0].nombre}} {{item.idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.puntajeTotal}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" (change)="equipoaka(item.idAtleta._id,ronda3)" *ngIf="item.idAtleta.kataTres == ''">
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <h3>EQUIPO AO</h3>
                <div class="row">
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div class="row pointerAzul" *ngFor="let item of resultadosRonda2Azules">
                    <div class="col">
                        <p style="color:white;">{{item.idAtleta.valores[0].nombre}} {{item.idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.puntajeTotal}}</p>
                    </div>
                    <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" (change)="equipoao(item.idAtleta._id,ronda3)" *ngIf="item.idAtleta.kataTres == ''">
                        <option value="" selected>Selecciona kata</option>
                        <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Ronda 4</h3>
<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <h3>EQUIPO AKA</h3>
                <div class="row">
                    <div class="col-md">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>

                </div>
                <!-- <div class="row pointer" *ngFor="let item of resultadosRonda3Rojos">
                    <div class="col-md">
                        <p style="color:white;">{{item.idAtleta.valores[0].nombre}} {{item.idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.puntajeTotal}}</p>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <h3>EQUIPO AO</h3>
                <div class="row">
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>

                </div>
                <!-- <div class="row pointerAzul" *ngFor="let item of resultadosRonda3Azules">
                    <div class="col">
                        <p style="color:white;">{{item.idAtleta.valores[0].nombre}} {{item.idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.puntajeTotal}}</p>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="row" id="botones">
    <div class="col">
        <div class="boton" id="calificaciones">
            <button type="button" class="btn btn-rounded btn-block btn-secondary" [disabled]="semi1" (click)="semiUno()">SEMIFINAL 1</button>
        </div>
    </div>
    <div class="col">
        <div class="boton" id="calificaciones">
            <button type="button" class="btn btn-rounded btn-block btn-secondary" [disabled]="semi2" (click)="semiDos()">SEMIFINAL 2</button>
        </div>
    </div>
    <div class="col">
        <div class="boton" id="calificaciones">
            <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="final()">FINAL</button>
        </div>
    </div>
</div>
