<h3>Segunda Semi-final</h3>


<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card " id="aka">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>Semifinal</h3>
                    </div>
                    <div class="col-6">
                        <select name="kata" [(ngModel)]="semiTatami" id="kata"  class="form-control" [disabled]="resultRojo" (change)="guardarTatamiFinalaka()">
                            <option value="" selected>Selecciona tatami</option>
                            <option [value]="item.nombre" *ngFor="let item of tatami">{{item.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>

                </div>
                <div class="row pointer" >
                    <div class="col-md">
                        <p style="color:white;">{{datosCompetidorRojo.idAtleta.valores[0].nombre}} {{datosCompetidorRojo.idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{datosCompetidorRojo.idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{datosCompetidorRojo.puntajeTotal}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" *ngIf="resultRojo == true"  (change)="equipoaka(datosCompetidorRojo.idAtleta._id,'SemifinalDos')" >
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div>
                    
                </div>

                 <div class="row pointerAzul" >
                    <div class="col-md">
                        <p style="color:white;">{{datosCompetidorAzul.idAtleta.valores[0].nombre}} {{datosCompetidorAzul.idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{datosCompetidorAzul.idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{datosCompetidorAzul.puntajeTotal}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" *ngIf="resultAzul == true" (change)="equipoao(datosCompetidorAzul.idAtleta._id,'SemifinalDos')" >
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>








<h3>GANADOR</h3>
<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card " id="aka">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>Semifinal</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                   

                </div>
                <div class="row pointer" >
                    <div class="col-md">
                        <p style="color:white;">{{resultadosSemiDos[0].idAtleta.valores[0].nombre}} {{resultadosSemiDos[0].idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{resultadosSemiDos[0].idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{resultadosSemiDos[0].puntajeTotal}}</p>
                    </div>
                    
                </div>

            
            </div>
        </div>
    </div>
</div>





<div class="row" id="botones">
    <div class="col">
        <div class="boton" id="calificaciones">
            <button type="button" class="btn btn-rounded btn-block btn-secondary"  (click)="redireccion()">Terminar</button>
        </div>
    </div>
</div>