<div class="row">
    <div class="col-4" *ngFor="let item of categorias">
        <div class="card" (click)="navegar(item.categoria)">
            <div id="titulo">
                <div class="card-body">
                    <p>{{item.categoria}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
