<div class="container" id="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card o-hidden border-0  shadow-lg my-5" id="card2">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-md-7" id="logo">
                            <div class="semi-circulo"> 
                                <img src="assets/logo/logo.png" alt=""> 
                            </div>
                            <!-- <div class="card" id="cabecera">

                            </div> -->
                        </div>
                        <div class="col-md-5" id="formulario">
                            <div class="p-5">
                                <div>
                                    <h1 class="h4 mb-3 text-left text-login" id="title">INICIAR SESIÓN</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <h5 class="h2" id="login">USUARIO</h5>
                                        <input [(ngModel)]="usuario" name="nombre" type="text" maxlength="50" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <h5 class="h2" id="login">CONTRASEÑA</h5>
                                        <input type="password" maxlength="50" autocomplete="off" name="password" [(ngModel)]="pass" class="form-control form-control-user" id="exampleInputPassword">
                                    </div>
                                    <input type="submit" id="btn-login" value="Ingresar" class="btn btn-primary btn-user btn-block" (click)="login()">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
