.card{
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    height: 520px !important;
    width: 90% !important;
    margin-bottom: 3em;
}

.container{
    max-width: 1050px !important;
}
#container {
    margin-top: 5em;
}
#card2{
    border-radius: 20px;
    background-color: #212F3D;
}

.row{
    border-radius: 20px !important;
    height: 520px !important;
    background-color: white;
}

#logo{
    border-radius: 20px 600px 0px 20px;
    background-color: #1c1c1c;
}

img{
    padding-top: 60px;
    height: 320px;
    display:block;
    margin:auto;
    left: 25px;
}

.semi-circulo img:hover {
    -webkit-transform: rotateY(180deg) scale(1.3);transform:scale(1.3);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    
}

#cabecera{
    display:block;
    margin:auto;    
    height: 20% !important;
    width: 50% !important; 
    border-radius: 1rem !important;
    box-shadow: 9px 8px 10px -8px rgba(196, 192, 196, 1) !important;
}

.semi-circulo {
    margin-top: 120px !important;
    margin-left: 35px;   
    width: 350px; 
    height: 350px; 
    background: #A93226;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

*{
    font-family: karate,  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 2rem;
    color: #A93226 !important;
}

form{
    margin-top: 50px;
    h5{
        margin-top: 30px;
        font-size: 1.3rem;
        color: #A93226 !important;
    }
    input{
        border-radius: .8rem;
    }
    #btn-login{
        background-color: #1c1c1c !important;
        outline:none;
        border: none;
    }
}

