<div class="row">
    <div class="col-6" *ngFor="let item of divisiones" (click)="enviar(item.division)">
        <div class="card" id="titulo">
            <div class="card-body">
                <h3 class="text-themecolor">{{item.division}}</h3>
            </div>
        </div>
    </div> 
</div>
