<div class="row">
    <div class="col-6">
        <div class="card" (click)="enviar('Masculino')">
            <div class="card-body">
                <img src="../../../assets/logo/usuario-masculino.svg" id="img1">
                <div class="card" id="titulo">
                    <div class="card-body">
                        <h3 class="text-themecolor">MASCULINO</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" (click)="enviar('Femenino')">
            <div class="card-body">
                <img src="../../../assets/logo/usuario-femenino.svg" id="img2">
                <div class="card" id="titulo">
                    <div class="card-body">
                        <h3 class="text-themecolor">FEMENINO</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
      <div class="card" (click)="enviar('Mixto')">
          <div class="card-body">
              <div class="row">
                <div class="col">
                  <img src="../../../assets/logo/usuario-masculino.svg" id="img1">
                </div>
                <div class="col">
                  <img src="../../../assets/logo/usuario-femenino.svg" id="img2">
                </div>
              </div>
              <div class="card" id="titulo">
                  <div class="card-body">
                      <h3 class="text-themecolor">MIXTO</h3>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
