<div class="row">
    <div class="col-6">
        <div class="card" [routerLink]="['/dashboard/categoria/genero', 'Grados kyu']">
            <div class="card-body">
                <img src="../../../assets/logo/kyu.png" id="img1">
                <div class="card" id="titulo">
                    <div class="card-body">
                        <h3 class="text-themecolor">KYU</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" [routerLink]="['/dashboard/categoria/genero', 'Cinta negras']">
            <div class="card-body">
                <img src="../../../assets/logo/negras.png" id="img2">
                <div class="card" id="titulo">
                    <div class="card-body">
                        <h3 class="text-themecolor">CINTAS NEGRAS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
