#botones{
    margin-top: 15px;
    button{
        margin-bottom: 35px;
        width: 250px;
        border-radius: 10px;
        background: #333269;
        color: white;
        text-align: center;
    }

    .boton{
        display: flex;
        justify-content: center;
    }
}

.modal-header{
  span{
    color: white;
  }
}

.modal-body{
  span{
    color: black;
  }
  input{
    background-color: transparent;
    width: 92%;
    border: none;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    color: black;
  }
  ::placeholder{
    font-style: normal;
    font-size: 14px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: black;
  }
}
.modal-footer{
  button{
    background: #333269;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    border: none;
    color: white;
  }
}
