<!-- <app-categoria2 *ngIf="categoria2"></app-categoria2>
<app-categoria4 *ngIf="categoria4"></app-categoria4> -->
<app-categoria10 [categoria]="categoria" [genero]="genero" [rango]="rango" [divisions]="division"  *ngIf="categoria10"></app-categoria10>
<app-categoria24 [categoria]="categoria" [genero]="genero" *ngIf="categoria24"></app-categoria24>
<!-- <app-categoria48 [categoria]="categoria" [genero]="genero" *ngIf="categoria48"></app-categoria48>
<app-categoria96 [categoria]="categoria" [genero]="genero" *ngIf="categoria96"></app-categoria96> -->

<!-- <ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" style="color: black; font-weight: bold;">NUMERO DE ATLETAS</h5>
  </div>
  <form #form='ngForm'>
    <div class="modal-body">
      <div>
        <input type="number" ngModel name="atletas" id="atletas" placeholder="Numero de atletas">
      </div>
    </div>
    <div class="modal-footer boton">
      <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="numeroAtletas(form)">
        ACEPTAR
      </button>
    </div>
  </form>
</ng-template> -->
