<div class="row" id="logo">
  <div class="col">
    <img src="../../../assets/logoFemeka.png" alt="">
  </div>
</div>

<div class="row" id="ficha">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <p id="nombre">{{atleta.nombre | uppercase}} {{atleta.apellidoPaterno | uppercase}} {{atleta.apellidoMaterno | uppercase}}</p>
                <p id="estadoP">ESTADO {{atleta.estado | uppercase}}</p>
                <p id="kataP">KATA: {{kataCompetidor}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row" id="calificacion">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
               <p>{{final}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row" id="logo2">
  <div class="col">
    <img src="../../../assets/images/emiSport.png" alt="">
  </div>
</div>

<div class="row" id="jueces">
    <div class="col">
        <div class="card">
            <h3>{{atleta.categoria | uppercase}}</h3>
            <div class="row" id="tecnico">
                <div class="col-2" id="nivel">
                    <p>NIVEL TÉCNICO</p>
                </div>

                <div class="col-10">
                    <div class="card-header">
                        <div class="row">
                             <div class="col">
                                 <p>JUEZ 1</p>
                             </div>
                             <div class="col">
                                 <p>JUEZ 2</p>
                             </div>
                             <div class="col">
                                 <p>JUEZ 3</p>
                             </div>
                             <div class="col">
                                 <p>JUEZ 4</p>
                             </div>
                             <div class="col">
                                 <p>JUEZ 5</p>
                             </div>
                             <div class="col" id="max">
                                 <p>MÁX</p>
                             </div>
                             <div class="col" id="min">
                                 <p>MÍN</p>
                             </div>
                             <div class="col">
                                 <p>CALIFICACION</p>
                             </div>
                             <div class="col">
                                 <p>%</p>
                             </div>
                             <div class="col">
                                 <p>FINAL</p>
                             </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez1Tecnico" min="1" max="10" (blur)="competidorAKA()">
                            </div>
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez2Tecnico" min="1" max="10" (blur)="competidorAKA()">
                            </div>
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez3Tecnico" min="1" max="10" (blur)="competidorAKA()">
                            </div>
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez4Tecnico" min="1" max="10" (blur)="competidorAKA()">
                            </div>
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez5Tecnico" min="1" max="10" (blur)="competidorAKA()">
                            </div>
                            <div class="col" id="max">
                                <p>{{calificacionMaxTecnico}}</p>
                            </div>
                            <div class="col" id="min">
                                <p>{{calificacionMinTecnico}}</p>
                            </div>
                            <div class="col">
                                <p>{{calificacionTecnico}}</p>
                            </div>
                            <div class="col">
                                <p>70</p>
                            </div>
                            <div class="col">
                                <p>{{finalTecnico}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" id="atletico">
                <div class="col-2" id="nivel">
                    <p>NIVEL ATLÉTICO</p>
                </div>
                <div class="col-10">
                    <div class="card-header">
                        <div class="row">
                             <div class="col">
                                 <p>JUEZ 1</p>
                             </div>
                             <div class="col">
                                 <p>JUEZ 2</p>
                             </div>
                             <div class="col">
                                 <p>JUEZ 3</p>
                             </div>
                             <div class="col">
                                 <p>JUEZ 4</p>
                             </div>
                             <div class="col">
                                 <p>JUEZ 5</p>
                             </div>
                             <div class="col" id="max">
                                 <p>MÁX</p>
                             </div>
                             <div class="col" id="min">
                                 <p>MÍN</p>
                             </div>
                             <div class="col">
                                 <p>CALIFICACION</p>
                             </div>
                             <div class="col">
                                 <p>%</p>
                             </div>
                             <div class="col">
                                 <p>FINAL</p>
                             </div>
                        </div>
                     </div>
                     <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez1Atletico" min="1" max="10" (blur)="competidorAO()">
                            </div>
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez2Atletico" min="1" max="10" (blur)="competidorAO()">
                            </div>
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez3Atletico" min="1" max="10" (blur)="competidorAO()">
                            </div>
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez4Atletico" min="1" max="10" (blur)="competidorAO()">
                            </div>
                            <div class="col">
                                <input step =".20" type="number" [(ngModel)]="juez5Atletico" min="1" max="10" (blur)="competidorAO()">
                            </div>
                            <div class="col" id="max">
                                <p>{{calificacionMaxAtletico}}</p>
                            </div>
                            <div class="col" id="min">
                                <p>{{calificacionMinAtletico}}</p>
                            </div>
                            <div class="col">
                                <p>{{calificacionAtletico}}</p>
                            </div>
                            <div class="col">
                                <p>30</p>
                            </div>
                            <div class="col">
                                <p>{{finalAtletico}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boton">
                <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="enviarDatos()">GUARDAR</button>
            </div>
        </div>
    </div>
</div>

