.card{
    border-radius: 10px;
    width: 100%;
    height: 180px;
}

#cardPrincipal{
  h3{
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 8px !important;
    color: #333269;
  }
}

#registro-compe{
    height: 180px !important;
}

select{
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
}

#tatami{
    border-radius: 8px;
    outline:none;
    border: none;
    box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
}

h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
    color: #333269;
}
h4{
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
    color: #333269;
}

#competidor{
    border-radius: 8px;
    outline:none;
    border: none;
    height: 35px;
    width: 80%;
    box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
}

button{
    margin-bottom: 35px;
    width: 250px;
    border-radius: 10px;
    background: #333269;
    color: white;
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
}

#eqipos{
    .card{
        width: 80% !important;
        margin: 0 auto;
        height: auto;
    }
    #aka{
        h3{
            color: #B03A2E;
        }
        p{
            color: #B03A2E;
        }
    }
    #ao{
        h3{
            color: #1A5276;
        }
        p{
            color: #1A5276;
        }
    }
}

.pointer {
	cursor: pointer;
}

#calificaciones{
    margin-top: 15px;
}



////////////////////////////////////////////////////////////////////////////////////////////
#ronda2{
    margin-top: 15px;
    select{
        border: none;
        min-height: 5px;
        box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
        margin-top: 5px;
    }

    h3{
        text-align: center;
        font-weight: bold;
        margin-bottom: 15px;
        color: #333269;
    }

    #eqipos{
        .card{
            width: 80% !important;
            margin: 0 auto;
            height: auto;
        }
        #aka{
            h3{
                color: #B03A2E;
            }
            p{
                color: #B03A2E;

            }
        }
        #ao{
            h3{
                color: #1A5276;
            }
            p{
                color: #1A5276;

            }
        }
    }

    .pointer {
        cursor: pointer;
        background: #B03A2E;
        border-radius: 10px;
        height: 50px;
        margin-top: 15px;
    }

    .pointerAzul {
        cursor: pointer;
        background: #1A5276;
        border-radius: 10px;
        height: 50px;
        margin-top: 15px;
    }
}

.modal-header{
  span{
    color: white;
  }
}

.modal-body{
  span{
    color: black;
  }
  input{
    background-color: transparent;
    width: 92%;
    border: none;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    color: black;
  }
  ::placeholder{
    font-style: normal;
    font-size: 14px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: black;
  }
}
.modal-footer{
  button{
    background: #333269;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    border: none;
    color: white;
  }
}
