.card{
    border-radius: 15px;
    height: 225px;
    width: 50%;
    margin: 0 auto; /* Added */
    margin-bottom: 45px; 
    cursor: pointer;       
}

#img1,#img2{
    height: 150px;
    width: 250px;
    display:block;
    margin:auto;
}

#titulo{
    width: 100%;
    height: 75px;
    background-color: #FAFAFF; 
    box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
    h3{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #333269 !important;
    }    
}