<div class="row">
  <div class="col-6" id="cardPrincipal">
    <div class="card">
      <div class="row">
        <div class="col-12">
            <h3>CATEGORIA: {{categoria}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h3>GENERO: {{genero}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h3>GRADO: {{rango}}</h3>
        </div>
      </div>
      <div class="row" *ngIf="rango == 'Grados kyu'">
        <div class="col-12">
            <h3>DIVISION: {{division}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
            <h3>NUMERO DE VUELTAS:</h3>
        </div>
        <div class="col-4">
          <select name="vueltas" id="vueltas" [(ngModel)]="vueltas"  class="form-control" (change)="updateVueltas()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="boton">
        <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="agregarCompetencia()">AGREGAR COMPETENCIA</button>
      </div>
      <div class="boton">
        <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModalDesempate()">CRITERIOS DE DESEMPATE</button>
      </div>
    </div>
  </div>

</div>
<div class="row">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <div class="row">
                  <div class="boton">
                    <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModal()">AGREGAR ATLETA</button>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AKA</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of teamRojo; let i = index">
                    <div class="col-md-1">
                        <p>{{i + 1}}</p>
                    </div>
                    <div class="col">
                        <p (click)="madarCompetidorAka(item)" >{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.estado}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" ngModel id="kata"  class="form-control" (change)="equipoaka(item,i,$event.target.value)">
                            <option value="">Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}} ({{item.nombre}})</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                      <i class="mdi mdi-account-remove" (click)="eliminarAtletaAka(i)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <div class="row">
                  <div class="boton">
                    <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModal2()">AGREGAR ATLETA</button>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AO</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of teamAzul; let i = index" >
                    <div class="col-md-1">
                        <p>{{i + 1}}</p>
                    </div>
                    <div class="col">
                        <p (click)="madarCompetidorAo(item)">{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.estado}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" ngModel id="kata"  class="form-control" (change)="equipoao(item,i,$event.target.value)">
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}} ({{item.nombre}})</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                      <i class="mdi mdi-account-remove" (click)="eliminarAtletaAo(i)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <h3>EQUIPO AKA</h3>
                <div class="row">
                    <div class="col-md">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of resultadosRojos">
                    <div class="col-md">
                        <p style="color:white;" (click)="abrirModalComAka(item)">{{item.atleta.nombre}} {{item.atleta.apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.atleta.estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.calificacionFinal}}</p>
                    </div>
                    <div class="col-md-1">
                      <i class="mdi mdi-loupe" style="color: white;" (click)="subirPunto(item)"></i>
                    </div>
                    <!-- <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" (change)="equipoao(item._id)">
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <h3>EQUIPO AO</h3>
                <div class="row">
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row pointerAzul" *ngFor="let item of resultadosAzules" >
                    <div class="col">
                        <p style="color:white;"(click)="abrirModalComAo(item)">{{item.atleta.nombre}} {{item.atleta.apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.atleta.estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{item.calificacionFinal}}</p>
                    </div>
                    <div class="col-md-1">
                      <i class="mdi mdi-loupe" style="color: white;" (click)="subirPuntoAzul(item)"></i>
                    </div>
                    <!-- <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" (change)="equipoao(item._id)">
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="botones">
    <div class="col">
        <div class="boton" id="calificaciones">
            <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="semiUno()">SEMIFINAL 1</button>
        </div>
    </div>
    <div class="col">
        <div class="boton" id="calificaciones">
            <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="semiDos()">SEMIFINAL 2</button>
        </div>
    </div>
    <div class="col">
        <div class="boton" id="calificaciones">
            <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="final()">FINAL</button>
        </div>
    </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" style="color: black; font-weight: bold;">AGREGAR ATLETA AKA</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form='ngForm'>
    <div class="modal-body">
      <div>
        <input type="text" ngModel name="nombre" id="nombre" placeholder="Nombre del atleta">
      </div>
      <div>
        <input type="text" ngModel name="apellidoPaterno" id="apellidoPaterno" placeholder="Apellido Paterno">
      </div>
      <div>
        <input type="text" ngModel name="apellidoMaterno" id="apellidoMaterno" placeholder="Apellido Materno" >
      </div>
      <div>
        <select ngModel name="genero" id="genero">
          <option value="">Selecciona genero</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div>
        <select ngModel name="estado" id="estado">
          <option value='' selected>Estado</option>
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="CDMX">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>
        </select>
      </div>
    </div>
    <div class="modal-footer boton">
      <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="agregarAtleta(form)">
        AGREGAR ATLETA
      </button>
    </div>
  </form>
</ng-template>

<ng-template #modalContent2 let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" style="color: black; font-weight: bold;">AGREGAR ATLETA AO</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form='ngForm'>
    <div class="modal-body">
      <div>
        <input type="text" ngModel name="nombre" id="nombre" placeholder="Nombre del atleta">
      </div>
      <div>
        <input type="text" ngModel name="apellidoPaterno" id="apellidoPaterno" placeholder="Apellido Paterno">
      </div>
      <div>
        <input type="text" ngModel name="apellidoMaterno" id="apellidoMaterno" placeholder="Apellido Materno" >
      </div>
      <div>
        <select ngModel name="genero" id="genero">
          <option value="">Selecciona genero</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div>
        <select ngModel name="estado" id="estado">
          <option value='' selected>Estado</option>
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="CDMX">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>
        </select>
      </div>
    </div>
    <div class="modal-footer boton">
      <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="agregarAtletaAo(form)">
        AGREGAR ATLETA
      </button>
    </div>
  </form>
</ng-template>

<!-- CRITERIOS DE DESEMPATE -->

<ng-template #modalContentCriterios let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" style="color: black; font-weight: bold;">CRITERIOS DE DESAMPATE</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <mat-card>
    <h4>PASO 1:  Comparar la puntuación TÉCNICA antes del factor de multiplicación (70%). La puntuación más alta gana.</h4>
    <h4>PASO 2:  Comparar la puntuación ATLÉTICA antes del factor de multiplicación (30%). La puntuación más alta gana.</h4>
    <h4>PASO 3:  Comparar la puntuación TÉCNICA, comparando la puntuación más baja no excluida. La puntuación más alta gana.</h4>
    <h4>PASO 4:  Comparar la puntuación TÉCNICA, comparando la puntuación más alta no excluida. La puntuación más alta gana.</h4>
    <h4>PASO 5:  Comparar la puntuación ATLÉTICA, comparando la puntuación más baja no excluida. La puntuación más alta gana.</h4>
    <h4>PASO 6:  Comparar la puntuación ATLÉTICA, comparando la puntuación más alta no excluida. La puntuación más alta gana.</h4>
    <h4>PASO 7:  Comparar la puntuación TÉCNICA, comparando la puntuación más alta entre las puntuaciones más bajas excluidas. La puntuación más alta gana.</h4>
    <h4>PASO 8:  Comparar la puntuación TÉCNICA, comparando la puntuación más baja entre las puntuaciones más altas excluidas. La puntuación más alta gana.</h4>
    <h4>PASO 9:  Comparar la puntuación TÉCNICA, comparando la puntuación más baja entre las puntuaciones más bajas excluidas. La puntuación más alta gana.</h4>
    <h4>PASO 10:  Comparar la puntuación  ATLÉTICA, comparando la puntuación más alta entre las puntuaciones más bajas excluidas. La puntuación más alta gana.</h4>
    <h4>PASO 11:  Comparar la puntuación  ATLÉTICA, comparando la puntuación más baja entre las puntuaciones más altas excluidas. La puntuación más alta gana.</h4>
    <h4>PASO 12:  Comparar la puntuación  ATLÉTICA, comparando la puntuación más baja entre las puntuaciones más bajas excluidas. La puntuación más alta gana.</h4>
    <h4>PASO 13:  Comparar la puntuación  TÉCNICA, comparando la puntuación más alta entre las puntuaciones más altas excluidas. La puntuación más alta gana.</h4>
    <h4>PASO 14:  Comparar la puntuación  ATLÉTICA, comparando la puntuación más alta entre las puntuaciones más altas excluidas. La puntuación más alta gana.</h4>
    <h4>PASO 15: Si todos los criterios considerados en los casos anterioresno resuelven el ganador, se resolverá el empate lanzando una moneda electrónica</h4>

  </mat-card>


</ng-template>


<!-- SEMIFINAL 1 -->
<div class="row" *ngIf="validSemi1">
  <div class="col" id="eqipos">
      <div class="card" id="aka">
          <div class="card-body">
              <div class="row">
                <div class="boton">
                  <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModalSemi1()">AGREGAR ATLETA</button>
                </div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <h3>SEMIFINAL 1</h3>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col">
                      <p>Competidores</p>
                  </div>
                  <div class="col">
                      <p>Estado</p>
                  </div>
                  <div class="col">
                      <p>Kata</p>
                  </div>
                  <!-- <div class="col-md-1">
                  </div> -->
              </div>
              <div class="row pointer" *ngFor="let item of teamSemi1; let i = index">
                  <div class="col-md-1">
                      <p>{{i + 1}}</p>
                  </div>
                  <div class="col" (click)="madarCompetidorSemi1(item)">
                      <p>{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.estado}}</p>
                  </div>
                  <div class="col">
                      <select name="kata" ngModel id="kata"  class="form-control" (change)="actualizarCataSemi1(item,i,$event.target.value)">
                          <option value="">Selecciona kata</option>
                          <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}} ({{item.nombre}})</option>
                      </select>
                  </div>
                  <!-- <div class="col-md-1">
                    <i class="mdi mdi-account-remove" (click)="eliminarAtletaAka(i)"></i>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row" id="ronda2" *ngIf="validSemi1">
  <div class="col" id="eqipos">
      <div class="card" id="aka">
          <div class="card-body">
              <h3>SEMIFINAL 1</h3>
              <div class="row">
                  <div class="col-md">
                      <p>Competidores</p>
                  </div>
                  <div class="col">
                      <p>Estado</p>
                  </div>
                  <div class="col">
                      <p>Calificación</p>
                  </div>
                  <div class="col-md-1">
                  </div>
              </div>
              <div class="row pointer" *ngFor="let item of resultadosSemi1">
                  <div class="col-md">
                      <p style="color:white;" (click)="abrirModalComAka(item)">{{item.atleta.nombre}} {{item.atleta.apellidoPaterno}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.atleta.estado}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.calificacionFinal}}</p>
                  </div>
                  <div class="col-md-1">
                    <i class="mdi mdi-loupe" style="color: white;" (click)="subirPuntoSemi1(item)"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #modalContentSemi1 let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" style="color: black; font-weight: bold;">AGREGAR ATLETA AO</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form='ngForm'>
    <div class="modal-body">
      <div>
        <input type="text" ngModel name="nombre" id="nombre" placeholder="Nombre del atleta">
      </div>
      <div>
        <input type="text" ngModel name="apellidoPaterno" id="apellidoPaterno" placeholder="Apellido Paterno">
      </div>
      <div>
        <input type="text" ngModel name="apellidoMaterno" id="apellidoMaterno" placeholder="Apellido Materno" >
      </div>
      <div>
        <select ngModel name="genero" id="genero">
          <option value="">Selecciona genero</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div>
        <select ngModel name="estado" id="estado">
          <option value='' selected>Estado</option>
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="CDMX">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>
        </select>
      </div>
    </div>
    <div class="modal-footer boton">
      <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="agregarAtletaSemi1(form)">
        AGREGAR ATLETA
      </button>
    </div>
  </form>
</ng-template>



<!-- //////////////////////////////////////////////   SEMIFINAL 2 /////////////////////////////////////////////////-->
<div class="row" *ngIf="validSemi2">
  <div class="col" id="eqipos">
      <div class="card" id="aka">
          <div class="card-body">
              <div class="row">
                <div class="boton">
                  <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModalSemi2()">AGREGAR ATLETA</button>
                </div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <h3>SEMIFINAL 2</h3>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col">
                      <p>Competidores</p>
                  </div>
                  <div class="col">
                      <p>Estado</p>
                  </div>
                  <div class="col">
                      <p>Kata</p>
                  </div>
                  <!-- <div class="col-md-1">
                  </div> -->
              </div>
              <div class="row pointer" *ngFor="let item of teamSemi2; let i = index">
                  <div class="col-md-1">
                      <p>{{i + 1}}</p>
                  </div>
                  <div class="col" (click)="madarCompetidorSemi2(item)">
                      <p>{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.estado}}</p>
                  </div>
                  <div class="col">
                      <select name="kata" ngModel id="kata"  class="form-control" (change)="actualizarCataSemi2(item,i,$event.target.value)">
                          <option value="">Selecciona kata</option>
                          <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}} ({{item.nombre}})</option>
                      </select>
                  </div>
                  <!-- <div class="col-md-1">
                    <i class="mdi mdi-account-remove" (click)="eliminarAtletaAka(i)"></i>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row" id="ronda2" *ngIf="validSemi2">
  <div class="col" id="eqipos">
      <div class="card" id="aka">
          <div class="card-body">
              <h3>SEMIFINAL 2</h3>
              <div class="row">
                  <div class="col-md">
                      <p>Competidores</p>
                  </div>
                  <div class="col">
                      <p>Estado</p>
                  </div>
                  <div class="col">
                      <p>Calificación</p>
                  </div>
                  <div class="col-md-1">
                  </div>
              </div>
              <div class="row pointer" *ngFor="let item of resultadosSemi2">
                  <div class="col-md">
                      <p style="color:white;" (click)="abrirModalComAka(item)">{{item.atleta.nombre}} {{item.atleta.apellidoPaterno}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.atleta.estado}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.calificacionFinal}}</p>
                  </div>
                  <div class="col-md-1">
                    <i class="mdi mdi-loupe" style="color: white;" (click)="subirPuntoSemi2(item)"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #modalContentSemi2 let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" style="color: black; font-weight: bold;">AGREGAR ATLETA SEMIFINAL 2</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form='ngForm'>
    <div class="modal-body">
      <div>
        <input type="text" ngModel name="nombre" id="nombre" placeholder="Nombre del atleta">
      </div>
      <div>
        <input type="text" ngModel name="apellidoPaterno" id="apellidoPaterno" placeholder="Apellido Paterno">
      </div>
      <div>
        <input type="text" ngModel name="apellidoMaterno" id="apellidoMaterno" placeholder="Apellido Materno" >
      </div>
      <div>
        <select ngModel name="genero" id="genero">
          <option value="">Selecciona genero</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div>
        <select ngModel name="estado" id="estado">
          <option value='' selected>Estado</option>
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="CDMX">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>
        </select>
      </div>
    </div>
    <div class="modal-footer boton">
      <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="agregarAtletaSemi2(form)">
        AGREGAR ATLETA
      </button>
    </div>
  </form>
</ng-template>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->




<!-- //////////////////////////////////////////////   FINAL   /////////////////////////////////////////////////-->
<div class="row" *ngIf="validFinal">
  <div class="col" id="eqipos">
      <div class="card" id="aka">
          <div class="card-body">
              <div class="row">
                <div class="boton">
                  <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModalFinal()">AGREGAR ATLETA</button>
                </div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <h3>FINALISTAS</h3>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col">
                      <p>Competidores</p>
                  </div>
                  <div class="col">
                      <p>Estado</p>
                  </div>
                  <div class="col">
                      <p>Kata</p>
                  </div>
                  <!-- <div class="col-md-1">
                  </div> -->
              </div>
              <div class="row pointer" *ngFor="let item of teamFinal; let i = index">
                  <div class="col-md-1">
                      <p>{{i + 1}}</p>
                  </div>
                  <div class="col" (click)="madarCompetidorFinal(item)">
                      <p>{{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.estado}}</p>
                  </div>
                  <div class="col">
                      <select name="kata" ngModel id="kata"  class="form-control" (change)="actualizarCataFinal(item,i,$event.target.value)">
                          <option value="">Selecciona kata</option>
                          <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}} ({{item.nombre}})</option>
                      </select>
                  </div>
                  <!-- <div class="col-md-1">
                    <i class="mdi mdi-account-remove" (click)="eliminarAtletaAka(i)"></i>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row" id="ronda2" *ngIf="validFinal">
  <div class="col" id="eqipos">
      <div class="card" id="aka">
          <div class="card-body">
              <h3>FINALISTAS</h3>
              <div class="row">
                  <div class="col-md">
                      <p>Competidores</p>
                  </div>
                  <div class="col">
                      <p>Estado</p>
                  </div>
                  <div class="col">
                      <p>Calificación</p>
                  </div>
                  <div class="col-md-1">
                  </div>
              </div>
              <div class="row pointer" *ngFor="let item of resultadosFinal">
                  <div class="col-md">
                      <p style="color:white;" (click)="abrirModalComAka(item)">{{item.atleta.nombre}} {{item.atleta.apellidoPaterno}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.atleta.estado}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.calificacionFinal}}</p>
                  </div>
                  <div class="col-md-1">
                    <i class="mdi mdi-loupe" style="color: white;" (click)="subirPuntoFinal(item)"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #modalContentFinal let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" style="color: black; font-weight: bold;">AGREGAR ATLETAS FINALISTAS</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form='ngForm'>
    <div class="modal-body">
      <div>
        <input type="text" ngModel name="nombre" id="nombre" placeholder="Nombre del atleta">
      </div>
      <div>
        <input type="text" ngModel name="apellidoPaterno" id="apellidoPaterno" placeholder="Apellido Paterno">
      </div>
      <div>
        <input type="text" ngModel name="apellidoMaterno" id="apellidoMaterno" placeholder="Apellido Materno" >
      </div>
      <div>
        <select ngModel name="genero" id="genero">
          <option value="">Selecciona genero</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div>
        <select ngModel name="estado" id="estado">
          <option value='' selected>Estado</option>
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="CDMX">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>
        </select>
      </div>
    </div>
    <div class="modal-footer boton">
      <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="agregarAtletaFinal(form)">
        AGREGAR ATLETA
      </button>
    </div>
  </form>
</ng-template>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
