<div *ngFor="let item of cali; let i = index">
  <p id="rondaa">RONDA:{{i+1}}</p>
  <div class="row" id="logo">
    <div class="col">
      <img src="../../../assets/logoFemeka.png" alt="">
    </div>
  </div>

  <div class="row" id="ficha">
      <div class="col-6">
          <div class="card">
              <div class="card-body">
                  <p id="nombre">{{item.atleta.nombre}} {{item.atleta.apellidoPaterno}} {{item.atleta.apellidoMaterno}}</p>
                  <p id="estadoP">ESTADO {{item.atleta.estado| uppercase}}</p>
                  <p id="kataP">KATA: {{item.kata}}</p>
              </div>
          </div>
      </div>
  </div>

  <div class="row" id="calificacion">
      <div class="col-4">
          <div class="card">
              <div class="card-body">
                 <p>{{item.calificacionFinal}}</p>
              </div>
          </div>
      </div>
  </div>

  <div class="row" id="logo2">
    <div class="col">
      <img src="../../../assets/images/emiSport.png" alt="">
    </div>
  </div>

  <div class="row" id="jueces">
      <div class="col">
          <div class="card">
              <h3> </h3>
              <div class="row" id="tecnico">
                  <div class="col-2" id="nivel">
                      <p>NIVEL TÉCNICO</p>
                  </div>

                  <div class="col-10">
                      <div class="card-header">
                          <div class="row">
                               <div class="col">
                                   <p>JUEZ 1</p>
                               </div>
                               <div class="col">
                                   <p>JUEZ 2</p>
                               </div>
                               <div class="col">
                                   <p>JUEZ 3</p>
                               </div>
                               <div class="col">
                                   <p>JUEZ 4</p>
                               </div>
                               <div class="col">
                                   <p>JUEZ 5</p>
                               </div>
                               <div class="col" id="max">
                                   <p>MÁX</p>
                               </div>
                               <div class="col" id="min">
                                   <p>MÍN</p>
                               </div>
                               <div class="col">
                                   <p>CALIFICACION</p>
                               </div>
                               <div class="col">
                                   <p>%</p>
                               </div>
                               <div class="col">
                                   <p>FINAL</p>
                               </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesTecnicas.juez1" min="1.2" max="8.8">
                              </div>
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesTecnicas.juez2" min="1.2" max="8.8">
                              </div>
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesTecnicas.juez3" min="1.2" max="8.8">
                              </div>
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesTecnicas.juez4" min="1.2" max="8.8">
                              </div>
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesTecnicas.juez5" min="1.2" max="8.8">
                              </div>
                              <div class="col" id="max">
                                  <p>{{item.calificacionesTecnicas.calificacionMaxTecnico}}</p>
                              </div>
                              <div class="col" id="min">
                                  <p>{{item.calificacionesTecnicas.calificacionMinTecnico}}</p>
                              </div>
                              <div class="col">
                                  <p>{{item.calificacionesTecnicas.calificacionTecnico}}</p>
                              </div>
                              <div class="col">
                                  <p>70</p>
                              </div>
                              <div class="col">
                                  <p>{{item.calificacionesTecnicas.finalTecnico}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="row" id="atletico">
                  <div class="col-2" id="nivel">
                      <p>NIVEL ATLÉTICO</p>
                  </div>
                  <div class="col-10">
                      <div class="card-header">
                          <div class="row">
                               <div class="col">
                                   <p>JUEZ 1</p>
                               </div>
                               <div class="col">
                                   <p>JUEZ 2</p>
                               </div>
                               <div class="col">
                                   <p>JUEZ 3</p>
                               </div>
                               <div class="col">
                                   <p>JUEZ 4</p>
                               </div>
                               <div class="col">
                                   <p>JUEZ 5</p>
                               </div>
                               <div class="col" id="max">
                                   <p>MÁX</p>
                               </div>
                               <div class="col" id="min">
                                   <p>MÍN</p>
                               </div>
                               <div class="col">
                                   <p>CALIFICACION</p>
                               </div>
                               <div class="col">
                                   <p>%</p>
                               </div>
                               <div class="col">
                                   <p>FINAL</p>
                               </div>
                          </div>
                       </div>
                       <div class="card-body">
                          <div class="row">
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesAtleticas.juez1" min="1.2" max="8.8">
                              </div>
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesAtleticas.juez2" min="1.2" max="8.8">
                              </div>
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesAtleticas.juez3" min="1.2" max="8.8">
                              </div>
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesAtleticas.juez4" min="1.2" max="8.8">
                              </div>
                              <div class="col">
                                  <input step =".20" type="number" [value]="item.calificacionesAtleticas.juez5" min="1.2" max="8.8">
                              </div>
                              <div class="col" id="max">
                                  <p>{{item.calificacionesAtleticas.calificacionMaxAtletico}}</p>
                              </div>
                              <div class="col" id="min">
                                  <p>{{item.calificacionesAtleticas.calificacionMinAtletico}}</p>
                              </div>
                              <div class="col">
                                  <p>{{item.calificacionesAtleticas.calificacionAtletico}}</p>
                              </div>
                              <div class="col">
                                  <p>30</p>
                              </div>
                              <div class="col">
                                  <p>{{item.calificacionesAtleticas.finalAtletico}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

