<!-- <div class="row">
    <div class="col-9">   
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <select name="categoria" ngModel id="categoria" class="form-control">
                    <option value="" selected>CATEGORIA</option>
                </select> 
                <select name="pool" ngModel id="pool" class="form-control">
                    <option value="" selected>POOL</option>
                </select>
                <input type="text" placeholder="TATAMI" id="tatami"> 
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="row">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <h3>EQUIPO AKA</h3>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of equipoAka; let i = index">
                    <div class="col-md-1">
                        <p>{{i + 1}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].nombre}} {{item.valores[0].apellidoPaterno}} {{item.valores[0].apellidoMaterno}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata" class="form-control" (change)="equipoaka(item._id)" *ngIf="item.kataUno == ''">
                            <option value="" selected>Selecciona kata</option>
                            <option value="ENPI">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <h3>EQUIPO AO</h3>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of equipoAo; let i = index" >
                    <div class="col-md-1">
                        <p>{{i + 1}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].nombre}} {{item.valores[0].apellidoPaterno}} {{item.valores[0].apellidoMaterno}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata" class="form-control" (change)="equipoao(item._id)" *ngIf="item.kataUno == ''">
                            <option value="" selected>Selecciona kata</option>
                            <option value="ANAN">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<!-- <div class="boton" id="calificaciones">
    <button type="button" class="btn btn-rounded btn-block btn-secondary" [routerLink]="[ '/dashboard/categoria/rango']">CATEGORIAS</button>
</div> -->
