<div class="row" *ngIf="tipo == 'arbitraje'">
    <div class="col-6">
        <div class="card" id="titulo">
            <a href="../../../assets/documentos/FORMATO_OFICIAL_DE_PROTESTA_KATA.pdf" download="FORMATO_OFICIAL_DE_PROTESTA_KATA">
                <div class="card-body">
                    <img src="../../../assets/logo/iconPdf.png" alt="FORMATO_OFICIAL_DE_PROTESTA_KATA">
                    <h3 class="text-themecolor">FORMATO OFICIAL DE PROTESTA KATA</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="card" id="titulo">
            <a href="../../../assets/documentos/FORMATO_OFICIAL_DE_PROTESTA_KUMITE.pdf" download="FORMATO_OFICIAL_DE_PROTESTA_KUMITE"> 
                <div class="card-body">
                    <img src="../../../assets/logo/iconPdf.png" alt="FORMATO_OFICIAL_DE_PROTESTA_KUMITE">
                    <h3 class="text-themecolor">FORMATO OFICIAL DE PROTESTA KUMITE</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="card" id="titulo">
            <a href="../../../assets/documentos/PUNTUACIÓN_EQUIPOS.pdf" download="PUNTUACIÓN_POR_EQUIPOS">
                <div class="card-body">
                    <img src="../../../assets/logo/iconPdf.png" alt="PUNTUACIÓN_POR_EQUIPOS">
                    <h3 class="text-themecolor">PUNTUACIÓN POR EQUIPOS</h3>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-6">
        <div class="card" id="titulo">
            <a href="../../../assets/documentos/FORMATO_KATA_PUNTUACIÓN_INDIVIDUAL_1.pdf" download="FORMATO_KATA_PUNTUACIÓN_INDIVIDUAL_1">
                <div class="card-body">
                    <img src="../../../assets/logo/iconPdf.png" alt="FORMATO_KATA_PUNTUACIÓN_INDIVIDUAL_1">
                    <h3 class="text-themecolor">FORMATO KATA PUNTUACIÓN INDIVIDUAL 1</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-6">
        <div class="card" id="titulo">
            <a href="../../../assets/documentos/FORMATO_KATA_PUNTUACIÓN_INDIVIDUAL_2.pdf" download="FORMATO_KATA_PUNTUACIÓN_INDIVIDUAL_2">
                <div class="card-body">
                    <img src="../../../assets/logo/iconPdf.png" alt="FORMATO_KATA_PUNTUACIÓN_INDIVIDUAL_2">
                    <h3 class="text-themecolor">FORMATO KATA PUNTUACIÓN INDIVIDUAL 2</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-6">
        <div class="card" id="titulo">
            <a href="../../../assets/documentos/FORMATO_KATA_PUNTUACIÓN_INDIVIDUAL_REFEREE.pdf" download="FORMATO_KATA_PUNTUACIÓN_INDIVIDUAL_REFEREE">
                <div class="card-body">
                    <img src="../../../assets/logo/iconPdf.png" alt="FORMATO_KATA_PUNTUACIÓN_INDIVIDUAL_REFEREE">
                    <h3 class="text-themecolor">FORMATO KATA PUNTUACIÓN INDIVIDUAL REFEREE</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-6">
        <div class="card" id="titulo">
            <a href="../../../assets/documentos/LISTA_DE_KATAS.pdf" download="LISTA_DE_KATAS">
                <div class="card-body">
                    <img src="../../../assets/logo/iconPdf.png" alt="LISTA_DE_KATAS">
                    <h3 class="text-themecolor">LISTA DE KATAS</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-6">
        <div class="card" id="titulo">
            <a href="../../../assets/documentos/LISTA_DE_KATAS_OFICIALES.pdf" download="LISTA_DE_KATAS_OFICIALES">
                <div class="card-body">
                    <img src="../../../assets/logo/iconPdf.png" alt="LISTA_DE_KATAS_OFICIALES">
                    <h3 class="text-themecolor">LISTA DE KATAS OFICIALES</h3>
                </div>
            </a>
        </div>
    </div>
</div>
