<div class="row">
    <div class="col-4" *ngFor="let item of categorias">
        <div class="card" (click)="navegar(item.grado)">
            <div id="titulo">
                <div class="card-body">
                    <p>{{item.grado}}</p>
                </div>
            </div> 
        </div>
    </div>   
</div>
