.card{
    border-radius: 15px;
    height: 100px;
    width: 50%;
    margin: 0 auto; /* Added */
    margin-bottom: 45px; 
    cursor: pointer;       
}

#titulo{
    width: 100%;
    height: 120px;
    border-radius: 15px;
    background-color: #FAFAFF; 
    box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
    p{
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: #333269 !important;
    }    
}