
<h3>Primera Semifinal</h3>
<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card " id="aka">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>Semifinal</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>

                </div>
                <div class="row pointer" >
                    <div class="col-md">
                        <p style="color:white;"></p>
                    </div>
                    <div class="col">
                        <p style="color:white;"></p>
                    </div>
                    <div class="col">
                        <p style="color:white;"></p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" *ngIf="resultRojo == true"  (change)="equipoaka(datosCompetidorRojo.idAtleta._id,'SemifinalUno')" >
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div>

                </div>

                 <div class="row pointerAzul" >
                    <div class="col-md">
                        <p style="color:white;"></p>
                    </div>
                    <div class="col">
                        <p style="color:white;"></p>
                    </div>
                    <div class="col">
                        <p style="color:white;"></p>
                    </div>
                    <div class="col">
                        <select name="kata" [(ngModel)]="selectDevice" id="kata"  class="form-control" *ngIf="resultAzul == true" (change)="equipoao(datosCompetidorAzul.idAtleta._id,'SemifinalUno')" >
                            <option value="" selected>Selecciona kata</option>
                            <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                        </select>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>













<h3>GANADOR</h3>
<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card " id="aka">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>Semifinal</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>


                </div>
                <div class="row pointer" >
                    <div class="col-md">
                        <p style="color:white;"></p>
                    </div>
                    <div class="col">
                        <p style="color:white;"></p>
                    </div>
                    <div class="col">
                        <p style="color:white;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="row" id="botones">
    <div class="col">
        <div class="boton" id="calificaciones">
            <button type="button" class="btn btn-rounded btn-block btn-secondary">Terminar</button>
        </div>
    </div>
</div>
