<div class="row">
  <div class="col-6" id="cardPrincipal">
    <div class="card">
      <div class="row">
        <div class="col-12">
            <h3>CATEGORIA: {{categoria}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h3>GENERO: {{genero}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h3>GRADO: {{rango}}</h3>
        </div>
      </div>
      <div class="row" *ngIf="rango == 'Grados kyu'">
        <div class="col-12">
            <h3>DIVISION: {{division}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <div class="row">
                  <div class="boton">
                    <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModal()">AGREGAR ATLETA</button>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AKA</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of teamRojo; let i = index">
                    <div class="col-md-1">
                        <p>{{i + 1}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].nombre}} {{item.valores[0].apellidoPaterno}} {{item.valores[0].apellidoMaterno}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                      <select name="kata" [(ngModel)]="selectKata" id="kata"  class="form-control" (change)="equipoao(item)">
                          <option value="" selected>Selecciona kata</option>
                          <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                      </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <div class="row">
                  <div class="boton">
                    <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="abrirModal2()">AGREGAR ATLETA</button>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AO</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of teamAzul; let i = index" >
                    <div class="col-md-1">
                        <p>{{i + 1}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].nombre}} {{item.valores[0].apellidoPaterno}} {{item.valores[0].apellidoMaterno}}</p>
                    </div>
                    <div class="col">
                        <p>{{item.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                      <select name="kata" [(ngModel)]="selectKata" id="kata"  class="form-control" (change)="equipoao(item)">
                          <option value="" selected>Selecciona kata</option>
                          <option [value]="item.nombre" *ngFor="let item of kata">{{item.numero}}</option>
                      </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <h3>EQUIPO AKA</h3>
                <div class="row">
                    <div class="col-md">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of resultadosRojos">
                  <div class="col-md">
                      <p style="color:white;">{{item.atleta.nombre}} {{item.atleta.apellidoPaterno}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.atleta.estado}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.calificacionFinal}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <h3>EQUIPO AO</h3>
                <div class="row">
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                </div>
                <div class="row pointerAzul" *ngFor="let item of resultadosAzules">
                  <div class="col">
                      <p style="color:white;">{{item.atleta.nombre}} {{item.atleta.apellidoPaterno}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.atleta.estado}}</p>
                  </div>
                  <div class="col">
                      <p style="color:white;">{{item.calificacionFinal}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="botones">
    <div class="col">
        <div class="boton" id="calificaciones">
            <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="final()">FINAL</button>
        </div>
    </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" style="color: black; font-weight: bold;">AGREGAR ATLETA AKA</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form='ngForm'>
    <div class="modal-body">
      <div>
        <input type="text" ngModel name="nombre" id="nombre" placeholder="Nombre del atleta">
      </div>
      <div>
        <input type="text" ngModel name="apellidoPaterno" id="apellidoPaterno" placeholder="Apellido Paterno">
      </div>
      <div>
        <input type="text" ngModel name="apellidoMaterno" id="apellidoMaterno" placeholder="Apellido Materno" >
      </div>
      <div>
        <select ngModel name="genero" id="genero">
          <option value="">Selecciona genero</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div>
        <select ngModel name="estado" id="estado">
          <option value='' selected>Estado</option>
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="CDMX">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>
        </select>
      </div>
    </div>
    <div class="modal-footer boton">
      <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="agregarAtleta(form)">
        AGREGAR ATLETA
      </button>
    </div>
  </form>
</ng-template>

<ng-template #modalContent2 let-close="close">
  <div class="modal-header">
    <h5 class="modal-title" style="color: black; font-weight: bold;">AGREGAR ATLETA AO</h5>
    <button type="button" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form='ngForm'>
    <div class="modal-body">
      <div>
        <input type="text" ngModel name="nombre" id="nombre" placeholder="Nombre del atleta">
      </div>
      <div>
        <input type="text" ngModel name="apellidoPaterno" id="apellidoPaterno" placeholder="Apellido Paterno">
      </div>
      <div>
        <input type="text" ngModel name="apellidoMaterno" id="apellidoMaterno" placeholder="Apellido Materno" >
      </div>
      <div>
        <select ngModel name="genero" id="genero">
          <option value="">Selecciona genero</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>
      <div>
        <select ngModel name="estado" id="estado">
          <option value='' selected>Estado</option>
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="CDMX">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="Quintana Roo">Quintana Roo</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>
        </select>
      </div>
    </div>
    <div class="modal-footer boton">
      <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="agregarAtletaAo(form)">
        AGREGAR ATLETA
      </button>
    </div>
  </form>
</ng-template>
