<h3>TABLA DE GANADORES</h3>
<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card " id="aka">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>Primeros Dos Lugares</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>Ganador</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col">
                        <p>Modalidad</p>
                    </div>
                    <div class="col">
                        <p>Lugar</p>
                    </div>

                </div>
                <div class="row pointer" >
                    <div class="col-md">
                        <p style="color:white;">{{primerLugar[0].idAtleta.valores[0].nombre}} {{primerLugar[0].idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{primerLugar[0].idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{primerLugar[0].puntajeTotal}}</p>
                    </div>

                    <div class="col">
                        <p style="color:white;">{{primerLugar[0].rango}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{primerLugar[0].lugar}}</p>
                    </div>
                    
                </div>

            
            </div>
        </div>
    </div>
</div>






<div class="row" id="ronda2">
    <div class="col" id="eqipos">
        <div class="card " id="aka">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>Terceros Lugares</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>Ganador</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Calificación</p>
                    </div>
                    <div class="col">
                        <p>Modalidad</p>
                    </div>
                    <div class="col">
                        <p>Lugar</p>
                    </div>

                </div>
                <div class="row pointer" >
                    <div class="col-md">
                        <p style="color:white;">{{tercerLugar[0].idAtleta.valores[0].nombre}} {{tercerLugar[0].idAtleta.valores[0].apellidoPaterno}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{tercerLugar[0].idAtleta.valores[0].estado}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{tercerLugar[0].puntajeTotal}}</p>
                    </div>

                    <div class="col">
                        <p style="color:white;">{{tercerLugar[0].rango}}</p>
                    </div>
                    <div class="col">
                        <p style="color:white;">{{tercerLugar[0].lugar}}</p>
                    </div>
                    
                </div>

            
            </div>
        </div>
    </div>
</div>


