<div class="row">
  <div class="col-6" id="cardPrincipal">
    <div class="card">
      <div class="row">
        <div class="col">
            <h3>CATEGORIA:</h3>
        </div>
        <div class="col">
          <input type="text" [(ngModel)]="categoria">
        </div>
      </div>
      <div class="row">
        <div class="col">
            <h3>NUMERO DE COMPETIDORES</h3>
        </div>
        <div class="col">
          <input type="number" min="0" [(ngModel)]="competidores">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <form #form='ngForm'>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <p>NOMBRE DEL ATLETA</p>
            </div>
            <div class="col-md-5">
              <p>ESTADO</p>
            </div>
            <div class="col-md-2">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <input type="text" [(ngModel)]="nombreAtleta" name="nombre" id="nombre" placeholder="Nombre del atleta">
          </div>
          <div class="col-md-5">
            <select [(ngModel)]="estadoAtleta" name="estado" id="estado">
              <option value='' selected>Estado</option>
              <option value="Aguascalientes">Aguascalientes</option>
              <option value="Baja California">Baja California</option>
              <option value="Baja California Sur">Baja California Sur</option>
              <option value="Campeche">Campeche</option>
              <option value="Chiapas">Chiapas</option>
              <option value="Chihuahua">Chihuahua</option>
              <option value="CDMX">Ciudad de México</option>
              <option value="Coahuila">Coahuila</option>
              <option value="Colima">Colima</option>
              <option value="Durango">Durango</option>
              <option value="Estado de México">Estado de México</option>
              <option value="Guanajuato">Guanajuato</option>
              <option value="Guerrero">Guerrero</option>
              <option value="Hidalgo">Hidalgo</option>
              <option value="Jalisco">Jalisco</option>
              <option value="Michoacán">Michoacán</option>
              <option value="Morelos">Morelos</option>
              <option value="Nayarit">Nayarit</option>
              <option value="Nuevo León">Nuevo León</option>
              <option value="Oaxaca">Oaxaca</option>
              <option value="Puebla">Puebla</option>
              <option value="Querétaro">Querétaro</option>
              <option value="Quintana Roo">Quintana Roo</option>
              <option value="San Luis Potosí">San Luis Potosí</option>
              <option value="Sinaloa">Sinaloa</option>
              <option value="Sonora">Sonora</option>
              <option value="Tabasco">Tabasco</option>
              <option value="Tamaulipas">Tamaulipas</option>
              <option value="Tlaxcala">Tlaxcala</option>
              <option value="Veracruz">Veracruz</option>
              <option value="Yucatán">Yucatán</option>
              <option value="Zacatecas">Zacatecas</option>
            </select>
          </div>
          <div class="col-2">
            <div class="boton">
              <button type="button" class="btn" (click)="agregarAtleta(form)">AGREGAR</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="height: 350px;">
      <div class="row">
        <button (click)="quitarAtletas()">
          asignar atletas a equipos
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <p>NOMBRE DEL ATLETA</p>
          </div>
          <div class="col-md-4">
            <p>ESTADO</p>
          </div>
        </div>
      </div>
      <div style="overflow: auto;">
        <div class="row" *ngFor="let item of atletas">
          <div class="col-md-8">
            <p>{{item.nombre}}</p>
          </div>
          <div class="col-md-4">
            <p>{{item.estado}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="align-items: center; justify-content: center; margin-bottom: 15px;">
  <div class="boton">
    <button type="button" class="btn" (click)="sotear()">SORTEAR</button>
  </div>
</div>
<div class="row">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AKA</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of atletasRojos; let i = index">
                  <div class="col-md-1">
                      <p>{{i + 1}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.nombre}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.estado}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AO</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of atletasAzules; let i = index">
                  <div class="col-md-1">
                      <p>{{i + 1}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.nombre}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.estado}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="imprimirPDF()">imprimir</button>
    </div>
    <div class="col">
      <button (click)="generarPelea()">generar</button>
    </div>
    <div class="col">
      <button (click)="reset()"> reset </button>
    </div>
  </div>

  <h1>PELEAS</h1>

  <div class="row">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>TABLA</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of peleasRojos; let i = index">
                  <div class="col-md-2">
                      <p>{{i + 1}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.pelea}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3>EQUIPO AO</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                </div>
                <div class="row pointer" *ngFor="let item of peleasAzules; let i = index">
                  <div class="col-md-2">
                      <p>{{i + 1}}</p>
                  </div>
                  <div class="col">
                      <p>{{item.pelea}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>

