#logo{
  img{
    position:absolute;
    display:flex;
    height:230px;
    width: 250px;
    top: 150px;
    left: 80px;
  }
}

#logo2{
  img{
    position:absolute;
    height:160px;
    width: 460px;
    bottom:200px;
    right:0px;
    z-index: 1;
  }
}

#ficha{
    display: flex;
    justify-content: center;
    position: relative;
    .card{
        height: 250px;
        width: 80%;
        border-radius: 15px;
    }
    p{
        color: #B03A2E;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }
    #estadoP{
        position: relative;
        bottom: 15px !important;
    }
    #kataP{
        text-align: right !important;
        bottom: 25px !important;
        position: relative;
    }

}

#calificacion{
    display: flex;
    justify-content: center;
    position: absolute;
    top: -110px;
    right: 15px;
    position: relative;
    .card{
        background-color: #B03A2E;
        height: 200px;
        width: 150px;
        width: 80%;
        border-radius: 15px;

        p{
            color: white;
            text-align: center;
            font-size: 8rem;
            position: relative;
            bottom: 20px;
        }
    }
}

button{
    margin-bottom: 35px;
    width: 250px;
    border-radius: 10px;
    background: #B03A2E;
    color: white;
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
}

.card-header{
    height: 35px;
    background-color: white;
}

#jueces{
    .card{
        border-radius: 15px;
        h3{
            color: #1A5276;
            margin-left: 15px;
            margin-top: 15px;
            font-weight: bold;

        }
        #tecnico{
           #nivel{
                p{
                    color: #1A5276;
                    margin-left: 25px;
                    font-size: 1.5rem;
                    margin-top: 15px;
                }
           }
           .card-header{
                p{
                    color: #1A5276;
                    font-weight: bold;
                    text-align: center;
                }
                #max{
                    p{
                        color: #B03A2E !important;
                    }
                }
                #min{
                    p{
                        color: #B03A2E !important;
                    }
                }
            }

            .card-body{
                p{
                    color: #99A3A4;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                #max{
                    p{
                        color: #B03A2E !important;
                    }
                }
                #min{
                    p{
                        color: #B03A2E !important;
                    }
                }
            }

        }

        #atletico{
            #nivel{
                 p{
                     color: #1A5276;
                     margin-left: 25px;
                     font-size: 1.5rem;
                     margin-top: 15px;
                 }
            }

            .card-header{
                p{
                    color: #1A5276;
                    font-weight: bold;
                    text-align: center;
                }
                #max{
                    p{
                        color: #B03A2E !important;
                    }
                }
                #min{
                    p{
                        color: #B03A2E !important;
                    }
                }
            }

            .card-body{
                p{
                    color: #99A3A4;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                #max{
                    p{
                        color: #B03A2E !important;
                    }
                }
                #min{
                    p{
                        color: #B03A2E !important;
                    }
                }
            }

        }
    }
}

input{
    width: 60px;
}
