img{
    margin-bottom: 70px;
    height: 120px;
    width: 140px;
}

.card{
    width: 200px;
    height: 50px;
    background-color:none;
    border-top: black solid;
    border-right: black solid;
    border-bottom: black solid;
    color: #333269 !important;
    font-weight: bold;
    text-transform: uppercase;
}

#rojo{
    background-color: #B03A2E !important;
    color: white !important;
    font-size: .7rem !important;
    p{
        margin-top: -15px !important;
    }
}

#azul{
    background-color: #1A5276 !important;
    color: white !important;
    font-size: .7rem !important;
    p{
        margin-top: -15px !important;
    }
}

#ronda2{
    margin-top: 45px;
    #quitar{
        border: none;
        background-color: transparent;
    }
    /* div{
        margin-top: 19px;
        margin-bottom: 30px;
    } */
}

#ronda3{
    margin-top: 120px;
    div{
        /* margin-top: 42px; */
        margin-bottom: 90px;
    }
}
#ronda4{
    margin-top: 280px;
    div{
        /* margin-top: 75px; */
        margin-bottom: 200px;
    }
}

#ronda5{
    margin-top: 600px;
    /* div{
        margin-top: 145px;
    } */
}