<div class="row">
    <div class="col-md-2">
        <img src="../../../assets/logo/logoFemeka.png" alt="">
    </div>
    <div class="col">
        <!-- <h1>Categoria:</h1>
        <h2 *ngIf="division != 'Ninguna'">Division:</h2>
        <h3>Grado:</h3>
        <h4>Genero:</h4> -->
        <h1>{{categoria | uppercase}}</h1>
        <h2 *ngIf="division != 'Ninguna'">{{division | uppercase}}</h2>
        <h3>{{rango | uppercase}}</h3>
        <h4>{{genero | uppercase}}</h4>
    </div>
</div>

<div class="row" id="print">
    <div class="col" id="ronda1">
        <div *ngFor="let item of compe; let i = index">
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <div class="card-body" id="rojo">
                            <p>{{item[0].nombre}} {{item[0].apellidoPaterno}} -
                                {{item[0].estado}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <div class="card-body" id="azul">
                            <p>{{item[1].nombre}} {{item[1].apellidoPaterno}} -
                                {{item[1].estado}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="ronda2">
        <div *ngFor="let items of octavos">
            <div class="row">
                <div class="col-3">
                    <div class="card" [id]="items.id">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="card" id="quitar">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="ronda3">
        <div *ngFor="let items of cuartos">
            <div class="row">
                <div class="col-3">
                    <div class="card" [id]="items.id">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="ronda4">
        <div *ngFor="let items of semi">
            <div class="row">
                <div class="col-3">
                    <div class="card" [id]="items.id">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="ronda5">
        <div *ngFor="let items of final">
            <div class="row">
                <div class="col-3">
                    <div class="card" [id]="items.id">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="ronda5">
        <div *ngFor="let items of final2">
            <div class="row">
                <div class="col-3">
                    <div class="card" [id]="items.id">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>