<!-- <div class="row">
    <div class="col-6">
        <div class="card" id="titulo" [routerLink]="[ '/dashboard/descargar/documentos/', 'arbitraje' ]">
            <div class="card-body">
                <h3 class="text-themecolor">COMISIÓN DE ARBITRAJE</h3>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" id="titulo">
            <div class="card-body">
                <h3 class="text-themecolor">COMISIÓN DE EXAMINADORES</h3>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" id="titulo">
            <div class="card-body">
                <h3 class="text-themecolor">ENTRENADORES</h3>
            </div>
        </div>
    </div> 
    <div class="col-6">
        <div class="card" id="titulo">
            <div class="card-body">
                <h3 class="text-themecolor">OTROS</h3>
            </div>
        </div>
    </div>  
</div> -->


<div class="row" id="registro">
    <div class="col">
        <div class="card" id="registro-compe">
            <div class="card-body">
                <h3>REGISTRO DE COMPETIDORES MODALIDAD KATA</h3>

                 <div class="row">
                    <div class="col">
                        <select  name="pool" [(ngModel)]="registro.pool" id="pool" class="form-control">
                            <option value="" selected>Seleccione Pool</option>
                            <option value="1" selected>1</option>
                            <option value="2" selected>2</option>
                            <option value="4" selected>4</option>
                            <option value="6" selected>6</option>
                            <option value="8" selected>8</option>
                            <option value="10" selected>10</option>
                            <option value="12" selected>12</option>
                        </select>
   
                    </div>
                    <div class="col-6">
                        
                        <select name="grado" [(ngModel)]="registro.grado" id="grado" class="form-control" (change)="categorias()" >
                            <option value="" selected>Seleccione Rango</option>
                            <option value="Cinta Negra" selected>Cinta Negra</option>
                            <option value="Cinta Color" selected>Cinta Color</option>
                           
                        </select>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col">
                        
                        <!-- <input type="text" [(ngModel)]="registro.categoria" placeholder="CATEGORIA" id="competidor"> -->

                        <select name="categoria" [(ngModel)]="registro.categoria" id="categoria" class="form-control">
                            <option value="" selected>Seleccione Categoria</option>
                            <option [value]="item.categoria" *ngFor="let item of categoriasAll" >{{item.categoria}}</option>
                            
                           
                        </select>

                    </div>
                    <div class="col">
                        <!-- <input type="text" [(ngModel)]="registro.grado" placeholder="GRADO" id="competidor"> -->
                        <select name="division" [(ngModel)]="registro.division" id="division"  class="form-control">
                            <option value="" selected>Seleccione Division</option>
                            <option [value]="item.division" *ngFor="let item of divisionesColor">{{item.division}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <select name="sexo" [(ngModel)]="registro.genero" id="sexo" class="form-control">
                            <option value="" selected>Seleccione Genero</option>
                            <option value="hombre" selected>Hombre</option>
                            <option value="mujer" selected>Mujer</option>
                            <option value="mixto" selected>Mixto</option>
                        </select>
                    </div>    
                    <!-- <div class="col-5">
                        <select name="vuelta" [(ngModel)]="registro.vueltas" id="vuelta" class="form-control">
                            <option value="" selected>Seleccione número de Vueltas</option>
                            <option value="1" selected>1</option>
                            <option value="2" selected>2</option>
                            <option value="3" selected>3</option>
                            <option value="4" selected>4</option>
                         
                        </select>
                    </div>                       -->
                                          
                </div>
                
            </div>
            
            <div class="boton">

                    <button type="button" class="btn btn-rounded btn-block btn-secondary" (click)="enviarRegistro()" >Ir a tabla de Competidores</button>
            </div>
        </div>
    </div>
</div>

