// .card{
//     border-radius: 15px;
//     height: 140px;
//     width: 50%;
//     margin: 0 auto; /* Added */
//     margin-bottom: 45px; 
//     cursor: pointer;       
// }

// img{
//     height: 150px;
//     width: 150px;
//     display:block;
//     margin:auto;
// }

// #titulo{
//     width: 100%;
//     height: 100px;
//     background-color: #FAFAFF; 
//     box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
//     h3{
//         text-align: center;
//         font-size: 1.5rem;
//         font-weight: bold;
//         color: #333269 !important;
//     }    
// }
.card{
    border-radius: 10px;
    width: 100%;
    height: 180px;
}

#registro-compe{
    height: 380px !important;
}

select{
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
}

#tatami{
    border-radius: 8px;
    outline:none;
    border: none;
    box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
}

h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
    color: #333269;
}

#competidor{
    border-radius: 8px;
    outline:none;
    border: none;
    height: 35px;
    width: 80%;
    box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
}

button{
    margin-bottom: 35px;
    width: 250px;
    border-radius: 10px;
    background: #333269;
    color: white;
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
}

#eqipos{
    .card{
        width: 80% !important;
        margin: 0 auto;
        height: auto;
    } 
    #aka{
        h3{
            color: #B03A2E;
        }
        p{
            color: #B03A2E;  
        }
    }
    #ao{
        h3{
            color: #1A5276;
        }
        p{
            color: #1A5276; 
        }
    }
}

.pointer {
	cursor: pointer;
}

#calificaciones{
    margin-top: 15px;
}