@font-face {
    font-family: karate;
    src: url(assets/karate/Karate.ttf) format("opentype");
}
/* :root {
    --principal-text: #001672;
    --button-principal: #E3D049;
    --button-secondary: #00BBF1;
    --text-header: #03318c;
    --button-package: green;
    --font: 'karate', sans-serif;
    
} */
/* You can add global styles to this file, and also import other style files */
html{
    height: 100%; 
}
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html{
    height: 100%;  
}
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html{
    height: 100%;
}
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}