<div class="row">
    <!-- <div class="col-6">
        <div class="card" routerLink="categoria/rango">
            <div class="card-body">
                <img src="../../../assets/logo/kata.png" id="img1">
                <div class="card" id="titulo">
                    <div class="card-body">
                        <h3 class="text-themecolor">KATA</h3>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-6">
        <div class="card" routerLink="registro/kumite">
            <div class="card-body">
                <img src="../../../assets/logo/kumite.png" id="img2">
                <div class="card" id="titulo">
                    <div class="card-body">
                        <h3 class="text-themecolor">KUMITE</h3>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-6">
        <div class="card" routerLink="generar/tablas">
            <div class="card-body" id="img3">
                <img src="../../../assets/logo/iconoDocumentos.png">
                <div class="card" id="titulo">
                    <div class="card-body">
                        <h3 class="text-themecolor">TABLAS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-6">
        <div class="card" routerLink="categorias/rango/kumite">
            <div class="card-body" id="img4">
                <img src="../../../assets/logo/iconoGrafica.png">
                <div class="card" id="titulo">
                    <div class="card-body">
                        <h3 class="text-themecolor">GRAFICAS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
