<div class="row">
    <div class="col" id="eqipos">
        <div class="card" id="aka">
            <div class="card-body">
                <h3>EQUIPO AKA</h3>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div [class]="clase" *ngFor="let item of [1,1,1,1]">
                    <div class="col-md-1">
                        <p></p>
                    </div>
                    <div class="col">
                        <p></p>
                    </div>
                    <div class="col">
                        <p></p>
                    </div>
                    <div class="col">
                        <select name="kata" ngModel id="kata" class="form-control">
                            <option value="" selected>Selecciona kata</option>
                            <option value="ENPI">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" id="eqipos">
        <div class="card" id="ao">
            <div class="card-body">
                <h3>EQUIPO AO</h3>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col">
                        <p>Competidores</p>
                    </div>
                    <div class="col">
                        <p>Estado</p>
                    </div>
                    <div class="col">
                        <p>Kata</p>
                    </div>
                </div>
                <div class="row pointerAzul">
                    <div class="col-md-1">
                        <p></p>
                    </div>
                    <div class="col">
                        <p></p>
                    </div>
                    <div class="col">
                        <p></p>
                    </div>
                    <div class="col">
                        <select name="kata" ngModel id="kata" class="form-control">
                            <option value="" selected>Selecciona kata</option>
                            <option value="ANAN">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
