select{
    border: none;
    min-height: 5px;
    box-shadow: 2px 2px 15px 2px rgba(196,192,196,1);
    margin-top: 5px;
}

h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333269;
}

#eqipos{
    .card{
        width: 80% !important;
        margin: 0 auto;
        height: auto;
    } 
    #aka{
        h3{
            color: #B03A2E;
        }
        p{
            color: #B03A2E;  
        }
    }
    #ao{
        h3{
            color: #1A5276;
        }
        p{
            color: #1A5276; 
        }
    }
}

.pointer {
	cursor: pointer;
    background: #B03A2E;
    border-radius: 10px;
    height: 50px;
    margin-top: 15px;
}

.pointerAzul {
	cursor: pointer;
    background: #1A5276;
    border-radius: 10px;
    height: 50px;
    margin-top: 15px;
}